@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(180deg, #d2d2d2 0%, #FFFFFF 100%) fixed; */

    margin: 0;
}  
.white{
    background-color: white;
    color: black;
}
.black{
    background-color: black;
    color: white;
}


*{
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
}
/* background: rgb(50,50,50); */
/* background: linear-gradient(90deg, rgba(50,50,50,1) 0%, rgba(145,145,145,1) 0%, rgba(208,208,208,1) 100%); */



ul{
    list-style: none;
}

nav a{
    text-decoration: none;
}

a{

    color : rgb(0, 81, 255);
    text-decoration: dotted;
}


a:hover{
    color: rgb(255, 0, 0);
}

nav{
    z-index: 550;
    padding-left: 10%;
    padding-right: 10%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.top-nav{
    display: flex;
    gap: 2rem;
    justify-content: space-between; 



}


.home{
    background-image: url("../images/code_bg.jpg");
    height: 500px;

}
.cadre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.home-content{
    color:white;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.home-description{
    border: 2px #FFFFFF solid;
    border-radius: 10px;
    padding: 0 10px 0 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
}


.skills{

    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto ;
}

.skills ul{
    gap: 1rem;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.skills h1{
    padding: 1%;
    margin: 5% 0 5% 0;
    border: black 2px solid;
    border-radius: 10px;
}

.skills ul li{
    line-height: 3em;
    flex: 1 0 21%
}

.skills ul li div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.skills ul li div img{
    align-self: center;
}

.projects{
    margin: 0% 5% 0% 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;


}

.project-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.projects-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.project-container{
    margin: 0% 5% 0% 5%;



}


img { 
    transition: 0.5s ; 
    padding-bottom: 20px;
}
img:hover { 
    border-radius: 50%;
    transform: rotate(10deg) ; 
    transition: 0.5s ; 
}

.active{
    width: 100%;
}




@media screen and (max-width: 801px) {
    nav{
        position: relative;
        padding: 1%;
        flex-direction: column;
        padding-bottom: 20px;
        

    }
    .top-nav{
        flex-direction: column;
    }
    .home{
        height: fit-content;
        
    }
    .home-content{
        padding-top: 20px;
        flex-direction: column;
        height: fit-content;
        
    }
    .home-description{
        align-items: center;
        justify-content: center;
        border: none;
        width: auto;
    }
    .skills{
        /* width: 100%; */
        justify-content: center;
        align-items: center;
        
    }
    .skills ul{
        width: auto;
    }



    .projects{
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .project-container{
        margin: 0% 5% 0% 5%;
        display: flex;
        flex-direction: column;



    }
    .project-desc{
        margin: 0% 5% 0% 5%;        
    }
    .projects-content{
        margin-bottom: 50px;
    }









}


/* input:checked ~ .theme{
    color: white;
    background-color: rgb(255, 255, 255);
} */


.titre{
    padding: 1%;
    margin: 5% 0 5% 0;
    border: black 2px solid;
    border-radius: 10px;
}